<% if flash.now[:error] %>
  <% flash.now[:error].each do |problem| %>
    <p class="errors" style="color:red;"><%= problem  %></p>
  <% end %>
<% end %>
<%= form_for @employee do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>
  <%= f.label :alias %>
  <%= f.text_field :alias %><br>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :office %>
  <%= f.text_field :office %><br>
  <%= f.label :img_url %>
  <%= f.text_field :img_url %><br>
  <%= f.label :dog_id %>
  <%= f.collection_select(:dog_id, @dogs, :id, :name) %><br>
  <%= f.submit %>
<% end %>